<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
   https://go.microsoft.com/fwlink/?LinkId=301880

  -->
<configuration>
	<configSections>
		<section name="AADAuthorizationGroups" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<AADAuthorizationGroups>
		<add key="1e587548-e2e3-48f4-b909-38d9316487bf" value="AD_POC_Admin"/>
		<add key="ee48b026-276d-438d-bcaa-d322435d7a0c" value="AD_POC_ModuleA"/>
		<add key="36ab62a0-7a90-4a0a-b911-1cd56b604ba2" value="AD_POC_ModuleC"/>
		<add key="5a873f08-0bcd-4613-9b39-49095b386bbc" value="AD_POC_ModuleB"/>
	</AADAuthorizationGroups>
	
	<appSettings>
		
			<add key="ida:ClientId" value="ebdacd1d-4c89-4674-a2b5-ed92ea974697" />
			<add key="ida:AADInstance" value="https://login.microsoftonline.com/" />
			<add key="ida:Domain" value="tcshumanafactory.onmicrosoft.com" />
			<add key="ida:TenantId" value="198d8697-052a-47d6-9ca0-c40a8636c334" />
			<add key="ida:PostLogoutRedirectUri" value="https://localhost:44345/" />
			<add key="ida:ClientSecret" value="r~6hJ_-8723vsOyso2SiAr~r_nd-_-uCN0" />
		    <add key="ida:AuthorizationGroups" value="1e587548-e2e3-48f4-b909-38d9316487bf,ee48b026-276d-438d-bcaa-d322435d7a0c,36ab62a0-7a90-4a0a-b911-1cd56b604ba2,5a873f08-0bcd-4613-9b39-49095b386bbc" />
		
	</appSettings>
  <location path="Account">
    <system.web>
		
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
	<location path="AdminModule/AdminHome.aspx">
		<system.web>
			<authorization>
				<allow roles="1e587548-e2e3-48f4-b909-38d9316487bf" />
				<allow roles="AD_POC_Admin" />

				<deny users="*" />
			</authorization>
		</system.web>
	</location>
		<location path="AdminModule/ModuleA.aspx">
		<system.web>
			<authorization>
				<!--<allow roles="1e587548-e2e3-48f4-b909-38d9316487bf" />-->
				<allow roles="AD_POC_ModuleA" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="AdminModule/ModuleB.aspx">
		<system.web>
			<authorization>
				<!--<allow roles="1e587548-e2e3-48f4-b909-38d9316487bf" />-->
				<allow roles="AD_POC_ModuleB" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="AdminModule/ModuleC.aspx">
		<system.web>
			<authorization>
				<!--<allow roles="36ab62a0-7a90-4a0a-b911-1cd56b604ba2" />-->
				<allow roles="AD_POC_ModuleC" />
				<deny users="*"  />
			</authorization>
		
		</system.web>
	</location>
	
	<system.web>
		<customErrors mode="On" defaultRedirect="HttpErrors/ASPError.aspx">
			<error statusCode="404" redirect="HttpErrors/NotFoundError.aspx" />
			<error statusCode="500" redirect="HttpErrors/InternalServerError.aspx" />
			<error statusCode="400" redirect="HttpErrors/BadRequestError.aspx" />
			<error statusCode="401" redirect="HttpErrors/UnAuthorized.aspx" />
		</customErrors>
    <authorization>
      <deny users="?" />
    </authorization>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Graph.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.25.1.0" newVersion="1.25.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.32.1.0" newVersion="4.32.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>